<!DOCTYPE HTML SYSTEM "about:legacy-compat">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<title>MetaDB</title>
		<link rel="shortcut icon" href="images/favicon.ico">
		<link href="css/jquery-ui-1.8.13.custom.css" type="text/css" rel="stylesheet"/>
		<link href="css/main.css" type="text/css" rel="stylesheet"/>
		<link href="css/navbar.css" type="text/css" rel="stylesheet"/>
		<link href="css/home.css" type="text/css" rel="stylesheet"/>
		<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<nav>
			<span class='logo'></span>
			<span class='title'>MetaDB</span>
			<input class='search' type='text' value='Search'/>
			<span class='search-icon ui-icon ui-icon-search'></span>
			<select>
				<option>Project 1</option>
				<option>Project 2</option>
				<option>Project 3</option>
			</select>
			<span class='menu'>
				<a href="#" class='home'>Home</a> 	
				<a href="#" class='management'>Management</a> 
				<a href="#" class='account'>Account</a>
				<a href="login?action=logout">Logout</a>
			</span>
		</nav>
		<div id='main'>
			<section class='left'>
				<div class='control submenu'>
					<span class='backward'>
						<button class='first' title='First Item'></button>
						<button class='previous' title='Previous Item'></button>
					</span>
					<span class='wildcard'>
						<input type='text' value="1"/>
						<span class='total'>/100</span>
					</span>
					<span class='forward'>
						<button class='next' title='Next Item' ></button>
						<button class='last' title='Last Item'></button>
					</span>
					<span class='misc'>
						<button class='print' title='Print'></button>
					</span>
				</div>
				<div class='sizes submenu'>
					<span class='title'>Available Sizes:</span>
					<span class='size'>
						<a class='name' href='#'>Small</a>
						<div class='dimension'>(800x650)</div>
					</span>
					<span class='size'>
						<a class='name' href='#'>Large</a>
						<div class='dimension'>(2000x1625)</div>
					</span>
					<span class='size last'>
						<a class='name' href='#'>Fullsize</a>
						<div class='dimension'>(3961x3129)</div>
					</span>
				</div>
				<div class='image'>
					<div class='wrapper'>
						<img src="images/sample.jpg"/>
					</div>
					<div class='subtitle'>Filename: lc-spcol-beyond-steel-0001.tif</div>
				</div>
			</section>
			<section class='right'>
				<div class='submenu features'>
					<span>Descriptive</span>
					<span>Administrative</span>
					<span>Technical</span>
				</div>
				<div class='control submenu'>
					<button>
						<input type="checkbox"/>
					</button>
					<button>Update</button>
				</div>
				<table>
					<tbody>
						<tr>
							<td class='select'><input type="checkbox" /></td>
							<td class='entry'>
								<div class='attribute'>title</div>
								<div class='value'><input type="text" /></div>
							</td>
						</tr>
						<tr>
							<td class='select'><input type="checkbox" /></td>
							<td class='entry'>
								<div class='attribute'>description.annotation</div>
								<div class='value'>
									<textarea></textarea>
								</div>
							</td>
						</tr>
						<tr>
							<td class='select'><input type="checkbox" /></td>
							<td class='entry'>
								<div class='attribute'>subject.topical</div>
								<div class='value'>
									<div class='controlled'>
										<span class='ui-state-highlight'>
											Dixie Cup Company
											<span class='ui-icon ui-icon-closethick'></span>
										</span>
										<span class='ui-state-highlight'>
											Employees
											<span class='ui-icon ui-icon-closethick'></span>
										</span>
										<span class='ui-state-highlight'>
											Factories
											<span class='ui-icon ui-icon-closethick'></span>
										</span>
										<span class='ui-state-highlight'>
											<span class='ui-icon ui-icon-plusthick'></span>
										</span>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
		<footer>
			<span class='copyright'>Copyright © 2011</span>
			<span class='links'>
				<a href='disclaimers.html' class='internal'>Disclaimers</a> |
				<a href='http://www.lafayette.edu' target='_blank'>Lafayette College</a>
			</span>
		</footer>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

		<script type='text/javascript' src='js/main.js'></script>
		<script type='text/javascript'>
			$( function() {
				NavBar.render();
				Home.render();
			});
		</script>
	</body>
</html>