<!DOCTYPE HTML SYSTEM "about:legacy-compat">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>MetaDB</title>

		<link href="css/jquery-ui-1.8.13.custom.css" type="text/css" rel="stylesheet"/>
		<link href="css/main.css" type="text/css" rel="stylesheet"/>
		<link href="css/login.css" type="text/css" rel="stylesheet"/>

	</head>

	<body>

		<div id="main">
			<div class='login'>
				<span class='logo'></span>
				<div class='title'>
					MetaDB
				</div>

				<form method="post">
					<input type='hidden' name="action" value="login"/>
					<div class='username'>
						<span>Username</span>
						<input type='text' name='username' />
					</div>
					<div class='password'>
						<span>Password</span>
						<input type='password' name='password' />
					</div>
					<div class='remember'>
						<span>Remember me</span>
						<input type='checkbox' />
					</div>
					<button type='submit'>Login</button>
				</form>
			</div>
		</div>
		<footer>
			<span class='copyright'>Copyright © 2011</span>
			<span class='links'>
				<a href='snippets/disclaimers.html' class='internal'>Disclaimers</a> |
				<a href='http://www.lafayette.edu' target='_blank'>Lafayette College</a>
			</span>
		</footer>
        <div class='modal notification' ></div>
		<script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.8.13.custom.min.js"></script>
        <!--
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        -->

		<script type='text/javascript' src='js/main.js'></script>
		<script type='text/javascript'>
			$(function() {
                Base.init();
				Login.init();
			});
		</script>
	</body>

</html>
