<!DOCTYPE HTML SYSTEM "about:legacy-compat">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>MetaDB</title>

		
		<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet/less" type="text/css" href="css/index.less">

	</head>

	<body>
        <header class="navbar">
            <nav class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">MetaDB</a>
                    <form class="form-inline pull-right" id='loginForm' method='POST' action='/login'>
			<input type='hidden' name='action' value='login'/>
                        <input type="text" class="input-small" name='username' placeholder="Username">
                        <input type='password' class="input-small" name='password' placeholder="Password">
                        <button class='btn'>Login</button>
                    </form>
                </div>
            </nav>
        </header>
        <section class='container'>
            <div class='row main'>
                <div class='span12 title'>
                    <img src='img/lafayette.png'/><h1>MetaDB</h1>
                </div>
                <div class='span12 subtitle'>
                    <p>Distributed Metadata Collection Tool</p>
                    <h6> By <a href="http://www.library.lafayette.edu">Lafayette College Libraries</a></h6>
                </div>
            </div>
            <hr>
            <div class='row'>
                <div class='span12 disclaimers'>
                    <p class='well'>
                        MetaDB allows institutions to use a web-based interface to split digital collection building tasks among
                        several people.
                        <br>
                        <br>
                        For example, at Lafayette, a librarian creates new projects, defines metadata requirements, supplies data for
                        administrative fields, and imports high-resolution master TIF images into the system. Subject specialists then access
                        the system remotely and enter descriptive data about each item. Once all metadata has been collected, projects are
                        exported as CSV or tab-delimited data files that are easily ingested into most repository systems.
                        <br>
                        <br>
                        MetaDB supports several features that strengthen digital collection building efforts, including the use of controlled
                        vocabularies, the ability to search, browse, sort, and edit records in different ways, and support for concurrent access
                        by multiple users. The application extracts technical metadata from images, and automatically creates JPG access
                        derivatives that can include branded or banded text, as well as zoomable high-resolution images for close study.
                        <br>
                        <br>
                        MetaDB version 3 was developed by
                        <a href="http://digital.lafayette.edu/contact"> Eric Luhrs</a>, Digital Initiatives Librarian at
                        <a href="http://www.lafayette.edu/"> Lafayette College</a>, and
                        <a href="http://compsci.lafayette.edu">Computer Science</a> students <a href="http://www.azndezign.com">Long Ho</a> and <a href="http://cs.lafayette.edu/~yamagucm">Haruki Yamaguchi</a>. Documentation and source code are available on the
                        <a href="https://github.com/LafColDevs/metadb">MetaDB project page</a> hosted by Github.
                        <br>
                        <br>
                    </p>
                </div>
            </div>
            
        </section>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/lib/bootstrap-modal.js"></script>
        <script type="text/javascript" src="js/lib/less-1.2.1.min.js"></script>

	</body>

</html>
