@charset "utf-8";

body {
	background-color: #FFF;
}

#main {
	height: 100%;
	min-height: 550px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	clear: both;
	left: 0;
	top: 0;
	padding: 50px 0 0 0;
	font-size: 12px;
}

#main section.left {
	display: inline-block;
	float: left;
	min-width: 400px;
	border-right: 1px solid #777;
	height: 100%;
	padding-right: 0;
}

#main section > div.submenu {
	width: 95%;
	padding: 5px 0 3px 0;
	text-align: center;
	border-bottom: 1px solid #CCC;
}

#main section.left > div.submenu {
	margin: auto;
}

#main section.left div.control span {
	vertical-align: top;
}

#main section.left div.control span.wildcard input {
	width: 25px;
	height: 20px;
	vertical-align: top;
}

#main section.left div.control span.wildcard span.total {
	margin-top: 5px;
	display: inline-block;
}

#main section.left div.title {
	padding-right: 5px;
}

#main section.left div.sizes {
	padding-top: 7px;
	padding-bottom: 7px;
}

#main section.left div.sizes span.size {
	display: inline-block;
	vertical-align: top;
}

#main section.left div.sizes span.size {
	padding: 0 10px 0 5px;
}

#main section.left div.sizes span.size:not(.last) {
	border-right: 1px solid black;
}

#main section.left div.sizes span.size a.name {
	display: block;
	color: black;
	padding-bottom: 2px;
}

#main section.left div.sizes span.size div.dimension {
	color: #777;
}

#main section.left div.image {
	padding-top: 30px;
	border-bottom: none;
}

#main section.left div.image div.wrapper {
	width: 350px;
	height: 300px;
	background-color: #777;
	margin: auto;
	padding-top: 50px;
	border: 1px solid #444;
}

#main section.left div.image div.wrapper img {
	margin: auto;
	display: block;
}

#main section.left div.image div.subtitle {
	border-right: 1px solid #444;
	border-left: 1px solid #444;
	border-bottom: 1px solid #444;
	width: 350px;
	margin: auto;
	text-align: center;
}


#main section.right {
	display: inline-block;
	width: auto;
}

#main section.right > * {
	margin-left: 20px;
	display: block;
}

#main section.right div {
	width: 100%;
}

#main section.right div.features {
	padding-top: 7px;
	padding-bottom: 6px;
	font-family: 'Bitter', serif;
	font-size: 20px;
}

#main section.right div.features span {
	margin-right: 15px;
	cursor: pointer;	
}

#main section.right div.features span.selected {
	text-decoration: underline;
}

#main section.right div.control {
	text-align: left;
}

#main section.right div.control button {
	margin-right: 15px;
}

#main section.right table {
	margin-top: 30px;
	width: 100%;
	border-collapse: collapse;
}

#main section.right table tbody tr {
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

#main section.right table tbody tr:last-child {
	border-bottom: 1px solid #CCC;
}

#main section.right table tbody tr td {
	min-width: 46px;
	padding: 5px 0 5px 0;
}

#main section.right table tbody tr td:first-child {
	text-align: center;
	border-right: 1px solid #CCC;
	padding: 5px;
}

#main section.right table tbody tr td:not(:first-child) {
	padding-left: 10px;
}

#main section.right table tbody tr td:not(:first-child) div.value {
	padding-left: 20px;
	padding-top: 5px;
}

#main section.right table tbody tr td:not(:first-child) div.value > * {
	min-width: 450px;
}

#main section.right table tbody tr td:not(:first-child) div.value input {
	min-height: 20px;
	border: 1px solid #777;
}

#main section.right table tbody tr td:not(:first-child) div.value textarea {
	min-height: 70px;
	border: 1px solid #777;
}

#main section.right table tbody tr td:not(:first-child) div.value div.controlled > span {
	display: inline-block;
	padding: 2px 5px 5px 5px;
}

#main section.right table tbody tr td:not(:first-child) div.value div.controlled span span.ui-icon {
	display: inline-block;
	position: relative;
	top: 4px;
}