@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F9F9F9;
	min-width: 1024px;
}

/* GLOBAL STUFF */
div.modal {
	display: none;
}

div.notification {
	font-size: 12px;
}

/* Logo */
.logo {
	background: url(../images/lafayette.png) no-repeat;
	display: block;
}

/* General styling */
input[type='text'], input[type='password'] {
	border: 1px solid #CCC;
}

/* Footer */
footer {
	display: block;
	font-size: 11px;
	position: fixed;
	bottom: 0px;
	width: 100%;	
	border-top: 1px solid #777;
	left: 0px;
	padding: 10px 0px 10px 0px;
	background-color: #DDD;
}

footer span.copyright {
	float: left;
	margin-left: 10px;
}

footer span.links {
	list-style-type: none;
	float: right;
	margin-right: 10px;
}

footer span.links a {
	text-decoration: none;
}


