@charset "utf-8";
nav {
	height: 45px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -1;
	padding-top: 5px;
	
	min-width: 1024px;
	background-image: linear-gradient(bottom, #BCBCBC 0%, #DEDEDE 95%);
	background-image: -o-linear-gradient(bottom, #BCBCBC 0%, #DEDEDE 95%);
	background-image: -moz-linear-gradient(bottom, #BCBCBC 0%, #DEDEDE 95%);
	background-image: -webkit-linear-gradient(bottom, #BCBCBC 0%, #DEDEDE 95%);
	background-image: -ms-linear-gradient(bottom, #BCBCBC 0%, #DEDEDE 95%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #BCBCBC),
		color-stop(0.95, #DEDEDE)
	);
	border-bottom: 1px solid #777;
	z-index: 1;
}

nav span.logo {
	margin-left: -20px;
	width: 220px;
	height: 50px;
	display: inline-block;
	position: relative;
	z-index: -1;
	float: left;
	top: -5px;
	opacity: 0.2;
	background-position: 0 50%;
}

nav .title {
	font-family: Helvetica, sans-serif;
	color: #7C0023;
	font-size: 40px;
	margin-left: -180px;
	letter-spacing: -1px;
	font-weight: bold;
}

nav input.search {
	position: relative;
	top: -10px;
	display: inline-block;
	width: 250px;
	height: 30px;
	padding: 0px 5px 0px 5px;
	color: #CCC;
	margin-left: 30px;
	border: 1px solid #777;
}

nav input.search:focus {
	box-shadow: 0px 0px 10px #DDD;
	border: 1px solid #444;
	color: #222;
}

nav span.search-icon {
	height: 17px;
	position: relative;
	display: inline-block;
	top: -5px;
	left: -25px;
	border-left: 1px solid #BBB;
	cursor: pointer;
}

nav select {
	position: relative;
	top: -10px;
	left: -15px;
	display: inline-block;
}

nav span.menu {
	position: relative;
	top: -5px;
	font-size: 20px;
	float: right;
	margin-right: 5px;
}

nav span.menu a {
	cursor: pointer;
	padding: 12px 5px 5px 5px;
	margin-left: 5px;
	color: #555;
	text-decoration: none;
	height: 33px;
	display: inline-block;
	font-family: "Bitter", serif;
}

nav span.menu a.selected {
	/*background-image: linear-gradient(bottom, rgb(154,154,154) 95%, rgb(171,171,171) 0%);
	background-image: -o-linear-gradient(bottom, rgb(154,154,154) 95%, rgb(171,171,171) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(154,154,154) 95%, rgb(171,171,171) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(154,154,154) 95%, rgb(171,171,171) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(154,154,154) 95%, rgb(171,171,171) 0%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.95, rgb(154,154,154)),
		color-stop(0, rgb(171,171,171))
	);*/
	background-color: #FFF;
	border-left: 1px solid #777;
	border-right: 1px solid #777;
	color: #111;
	height: 34px;
}