@CHARSET "UTF-8";

/*
 MetaDB: A Distributed Metadata Collection Tool
 Copyright 2011, Lafayette College, Eric Luhrs, Haruki Yamaguchi, Long Ho.

    This file is part of MetaDB.

    MetaDB is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    MetaDB is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with MetaDB.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
	background: #333;
	/* background-repeat:repeat-x; */
	overflow-y: scroll;
	
}

.content {
	width: 1020px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
}

#context {
	min-height: 550px;
}

#context .ui-state-active {
	background: #f9f9f9;
}

.main {
	min-height:500px;
	border-color:#000000;
	border-width:thin;
}

h2 {
	font-size:16px;
	font-weight:bold;
}

#sub-nav {
	color:#FF0000;
	margin-top:-10px;
	margin-left:-5px;	
}	
.border {
	border:solid;
	border-width:0.5px;
	text-align:center;
	width:100px;
}

.cell {
	border:solid;
	border-width:0.5px;
	text-align:left;
	width:100px;
	padding: 5px;
}

#custom-fields th {
	text-align:center;
	padding: 5px;
	min-width:22px;
}

#custom-fields td {
	text-align:center;
	padding: 2px;
	min-width:17px;
}

#custom-fields-am, #custom-fields-dm {
	table-layout: fixed;
}

#custom-fields-am th {
	text-align:center;
	padding: 3px;
	min-width:22px;
}

#custom-fields-am td {
	text-align:center;
	padding: 2px;
	min-width:17px;
}

#custom-fields-dm th {
	text-align:center;
	padding: 3px;
	min-width:22px;
}

#custom-fields-dm td {
	text-align:center;
	padding: 2px;
	min-width:17px;
}

label.error {
	color: red;	
}

.attr-bin { 
	list-style-type: none; 
	margin: 0 0 0 0; 
	padding: 0; 
	background: #eee; 
	padding: 5px; 
	min-width: 150px; 
}
	
.attr-bin li { 
	margin: 0 5px 5px 5px;
	padding: 5px; 
}

.portlet-content { 
	padding: 0.4em; 
}

input[disabled], select[disabled], textarea[disabled] {
	background: #bdbdbd;	
}

.sub-tab {
	background: #F3F3F3 none repeat scroll 0 0;
}


.color-picker {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/colorpicker/select.png);
}
.color-picker div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/colorpicker/select.png) center;
}

.last-attribute {
	visibility:hidden;	
}



	.column { width: 33%; float: left; padding-bottom: 100px; }
	.portlet { margin: 0 1em 1em 0; }
	.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
	.portlet-header .ui-icon { float: right; }
	.portlet-content { padding: 0.4em; }
	.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
	.ui-sortable-placeholder * { visibility: hidden; }

.odd {
	background-color:#CCCCCC;
}

#desc-metadata, #admin-metadata, #tech-metadata, #metadata-holder .ui-state-active {
	background-color: #dddddd;
}

#global-notification {
	font-size:15px; 
	position:fixed; 
	width:40%; 
	left:30%; 
	top:10px; 
	display:none; 
	word-wrap:break-word; 
	text-align:center;
}	

.hidden-info {
	display:none;
}

.ui-autocomplete {
	width: 320px;
	height: 300px;
	overflow-y: auto;
}

#tag-line {
	text-align: center;
	font-size: 12px;
	color: #cccccc;
}

#tag-line a {
	color: #c0c0c0;
}
