<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <resource-ref>
    <description>
      Data source for the metadb application.
    </description>
    <res-ref-name>
      jdbc/metadb
    </res-ref-name>
    <res-type>
      javax.sql.DataSource
    </res-type>
    <res-auth>
      Container
    </res-auth>
  </resource-ref>

  <servlet>
    <servlet-name>Login Validator</servlet-name>
    <servlet-class>edu.lafayette.metadb.web.authentication.Login</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Login Validator</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>edu.lafayette.metadb.web.authentication.Logout</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Check Session</servlet-name>
    <servlet-class>edu.lafayette.metadb.web.authentication.CheckSession</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Check Session</servlet-name>
    <url-pattern>/CheckSession.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Database Test</servlet-name>
    <servlet-class>edu.lafayette.metadb.web.DatabaseTest</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	CreateUser</display-name>
  	<servlet-name>CreateUser</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.userman.CreateUser</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	DeleteUser</display-name>
  	<servlet-name>DeleteUser</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.userman.DeleteUser</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowUsers</display-name>
  	<servlet-name>ShowUsers</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.userman.ShowUsers</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	CheckUserExist.do</display-name>
  	<servlet-name>CheckUserExist</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.authentication.CheckUserExist</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowProjects.do</display-name>
  	<servlet-name>ShowProjects</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.projectman.ShowProjects</servlet-class>
  </servlet>
  

  <servlet>
  	<servlet-name>Show Log</servlet-name>
  	<servlet-class>edu.lafayette.metadb.web.ShowLog</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	UpdateUserInfo</display-name>
  	<servlet-name>UpdateUserInfo</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.userman.UpdateUserInfo</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	UpdateSelfPassword</display-name>
  	<servlet-name>UpdateSelfPassword</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.userman.UpdateSelfPassword</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	CreateProject</display-name>
  	<servlet-name>CreateProject</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.projectman.CreateProject</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	DeleteProject</display-name>
  	<servlet-name>DeleteProject</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.projectman.DeleteProject</servlet-class>
  </servlet>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowElements</display-name>
  	<servlet-name>ShowElements</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.projectman.ShowElements</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	FlushLog</display-name>
  	<servlet-name>FlushLog</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.FlushLog</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ChangeWorkingProject</display-name>
  	<servlet-name>ChangeWorkingProject</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.ChangeWorkingProject</servlet-class>
  </servlet>
   <servlet>
  	<description>
  	</description>
  	<display-name>
  	ClearLocks</display-name>
  	<servlet-name>ClearLocks</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.ClearLocks</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	GetWorkingProject</display-name>
  	<servlet-name>GetWorkingProject</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.GetWorkingProject</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowProjectData</display-name>
  	<servlet-name>ShowProjectData</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.projectman.ShowProjectData</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowProjectPermission</display-name>
  	<servlet-name>ShowProjectPermission</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.permission.ShowProjectPermission</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowPermissions</display-name>
  	<servlet-name>ShowPermissions</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.permission.ShowPermissions</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	DeletePermission</display-name>
  	<servlet-name>DeletePermission</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.permission.DeletePermission</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	AddPermission</display-name>
  	<servlet-name>AddPermission</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.permission.AddPermission</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	UpdatePermission</display-name>
  	<servlet-name>UpdatePermission</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.permission.UpdatePermission</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	UpdateTechAttributes</display-name>
  	<servlet-name>UpdateTechAttributes</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.attributesman.tech.UpdateTechAttributes</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	UpdateProject</display-name>
  	<servlet-name>UpdateProject</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.projectman.UpdateProject</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	DeleteTechAttributes</display-name>
  	<servlet-name>DeleteTechAttributes</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.attributesman.tech.DeleteTechAttributes</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowTechAttributes</display-name>
  	<servlet-name>ShowTechAttributes</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.attributesman.tech.ShowTechAttributes</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	DeleteTechAttribute</display-name>
  	<servlet-name>DeleteTechAttribute</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.attributesman.tech.DeleteTechAttribute</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowAdminAttributes</display-name>
  	<servlet-name>ShowAdminAttributes</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.attributesman.administrative.ShowAdminAttributes</servlet-class>
  </servlet>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowDescAttributes</display-name>
  	<servlet-name>ShowDescAttributes</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.attributesman.descriptive.ShowDescAttributes</servlet-class>
  </servlet>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	DeleteAdminDescAttribute</display-name>
  	<servlet-name>DeleteAdminDescAttribute</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.attributesman.DeleteAdminDescAttribute</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	CreateVocab</display-name>
  	<servlet-name>CreateVocab</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.controlledvocab.CreateVocab</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowVocab</display-name>
  	<servlet-name>ShowVocab</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.controlledvocab.ShowVocab</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowVocabList</display-name>
  	<servlet-name>ShowVocabList</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.controlledvocab.ShowVocabList</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	UpdateVocab</display-name>
  	<servlet-name>UpdateVocab</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.controlledvocab.UpdateVocab</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	RemoveVocab</display-name>
  	<servlet-name>RemoveVocab</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.controlledvocab.RemoveVocab</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	SetVocab</display-name>
  	<servlet-name>SetVocab</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.controlledvocab.SetVocab</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	GetVocab</display-name>
  	<servlet-name>GetVocab</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.controlledvocab.GetVocab</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ProcessProject</display-name>
  	<servlet-name>ProcessProject</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.metadata.ProcessProject</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowAdminDescMetadata</display-name>
  	<servlet-name>ShowAdminDescMetadata</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.metadata.ShowAdminDescMetadata</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	UpdateAdminDescMetadata</display-name>
  	<servlet-name>UpdateAdminDescMetadata</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.metadata.UpdateAdminDescMetadata</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	UpdateMultipleMetadata</display-name>
  	<servlet-name>UpdateMultipleMetadata</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.metadata.UpdateMultipleMetadata</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ImportAdminDesc</display-name>
  	<servlet-name>ImportAdminDesc</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.dataman.ImportAdminDesc</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	ShowAdminDescAttributes</display-name>
  	<servlet-name>ShowAdminDescAttributes</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.attributesman.ShowAdminDescAttributes</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>
  	UpdateAdminDescAttributes</display-name>
  	<servlet-name>UpdateAdminDescAttributes</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.attributesman.UpdateAdminDescAttributes</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ExportAdminDesc</display-name>
  	<servlet-name>ExportAdminDesc</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.dataman.ExportAdminDesc</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ShowImageMetadata</display-name>
  	<servlet-name>ShowImageMetadata</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.metadata.ShowImageMetadata</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ShowTechMetadata</display-name>
  	<servlet-name>ShowTechMetadata</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.metadata.ShowTechMetadata</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ShowAllAttributes</display-name>
  	<servlet-name>ShowAllAttributes</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.attributesman.ShowAllAttributes</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewMetadata</display-name>
  	<servlet-name>ViewMetadata</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.dataman.ViewMetadata</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateMetadata</display-name>
  	<servlet-name>UpdateMetadata</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.dataman.UpdateMetadata</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ShowProjectSettings</display-name>
  	<servlet-name>ShowProjectSettings</servlet-name>
  	<servlet-class>edu.lafayette.metadb.web.projectman.imagesettings.ShowProjectSettings</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ShowDerivativeSettings</display-name>
  	<servlet-name>ShowDerivativeSettings</servlet-name>
  	<servlet-class>edu.lafayette.metadb.web.projectman.imagesettings.ShowDerivativeSettings</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ShowAvailableSizes</display-name>
  	<servlet-name>ShowAvailableSizes</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.metadata.ShowAvailableSizes</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateImageSettings</display-name>
  	<servlet-name>UpdateImageSettings</servlet-name>
  	<servlet-class>edu.lafayette.metadb.web.projectman.imagesettings.UpdateImageSettings</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProcessImageSettings</display-name>
  	<servlet-name>ProcessImageSettings</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.projectman.imagesettings.ProcessImageSettings</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchServlet</display-name>
  	<servlet-name>SearchServlet</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.search.SearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ExportVocab</display-name>
  	<servlet-name>ExportVocab</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.controlledvocab.ExportVocab</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ShowExport</display-name>
  	<servlet-name>ShowExport</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.dataman.ShowExport</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PrintMetadata</display-name>
  	<servlet-name>PrintMetadata</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.metadata.PrintMetadata</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ImageZoom</display-name>
  	<servlet-name>ImageZoom</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.ImageZoom</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetPermission</display-name>
  	<servlet-name>GetPermission</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.authentication.GetPermission</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ImageDownload</display-name>
  	<servlet-name>ImageDownload</servlet-name>
  	<servlet-class>
  	edu.lafayette.metadb.web.ImageDownload</servlet-class>
  </servlet>
    
  <servlet-mapping>
    <servlet-name>Database Test</servlet-name>
    <url-pattern>/DatabaseTest.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateUser</servlet-name>
  	<url-pattern>/CreateUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUser</servlet-name>
  	<url-pattern>/DeleteUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowUsers</servlet-name>
  	<url-pattern>/ShowUsers.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckUserExist</servlet-name>
  	<url-pattern>/CheckUserExist.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowProjects</servlet-name>
  	<url-pattern>/ShowProjects.do</url-pattern>
  </servlet-mapping>
 

  <servlet-mapping>
  	<servlet-name>Show Log</servlet-name>
  	<url-pattern>/ShowLog.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserInfo</servlet-name>
  	<url-pattern>/UpdateUserInfo.do</url-pattern>
  	
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSelfPassword</servlet-name>
  	<url-pattern>/UpdateSelfPassword.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateProject</servlet-name>
  	<url-pattern>/CreateProject.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProject</servlet-name>
  	<url-pattern>/DeleteProject.do</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>ShowElements</servlet-name>
  	<url-pattern>/ShowElements.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlushLog</servlet-name>
  	<url-pattern>/FlushLog.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangeWorkingProject</servlet-name>
  	<url-pattern>/ChangeWorkingProject.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>ClearLocks</servlet-name>
  	<url-pattern>/ClearLocks.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetWorkingProject</servlet-name>
  	<url-pattern>/GetWorkingProject.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowProjectData</servlet-name>
  	<url-pattern>/ShowProjectData.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowProjectPermission</servlet-name>
  	<url-pattern>/ShowProjectPermission.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowPermissions</servlet-name>
  	<url-pattern>/ShowPermissions.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePermission</servlet-name>
  	<url-pattern>/DeletePermission.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPermission</servlet-name>
  	<url-pattern>/AddPermission.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePermission</servlet-name>
  	<url-pattern>/UpdatePermission.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateTechAttributes</servlet-name>
  	<url-pattern>/UpdateTechAttributes.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProject</servlet-name>
  	<url-pattern>/UpdateProject.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteTechAttributes</servlet-name>
  	<url-pattern>/DeleteTechAttributes.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowTechAttributes</servlet-name>
  	<url-pattern>/ShowTechAttributes.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteTechAttribute</servlet-name>
  	<url-pattern>/DeleteTechAttribute.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAdminAttributes</servlet-name>
  	<url-pattern>/ShowAdminAttributes.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ShowDescAttributes</servlet-name>
  	<url-pattern>/ShowDescAttributes.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>DeleteAdminDescAttribute</servlet-name>
  	<url-pattern>/DeleteAdminDescAttribute.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateVocab</servlet-name>
  	<url-pattern>/CreateVocab.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowVocab</servlet-name>
  	<url-pattern>/ShowVocab.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowVocabList</servlet-name>
  	<url-pattern>/ShowVocabList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateVocab</servlet-name>
  	<url-pattern>/UpdateVocab.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveVocab</servlet-name>
  	<url-pattern>/RemoveVocab.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SetVocab</servlet-name>
  	<url-pattern>/SetVocab.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetVocab</servlet-name>
  	<url-pattern>/GetVocab.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcessProject</servlet-name>
  	<url-pattern>/ProcessProject.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAdminDescMetadata</servlet-name>
  	<url-pattern>/ShowAdminDescMetadata.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateAdminDescMetadata</servlet-name>
  	<url-pattern>/UpdateAdminDescMetadata.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMultipleMetadata</servlet-name>
  	<url-pattern>/UpdateMultipleMetadata.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImportAdminDesc</servlet-name>
  	<url-pattern>/ImportAdminDesc.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAdminDescAttributes</servlet-name>
  	<url-pattern>/ShowAdminDescAttributes.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateAdminDescAttributes</servlet-name>
  	<url-pattern>/UpdateAdminDescAttributes.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExportAdminDesc</servlet-name>
  	<url-pattern>/ExportAdminDesc.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowImageMetadata</servlet-name>
  	<url-pattern>/ShowImageMetadata.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowTechMetadata</servlet-name>
  	<url-pattern>/ShowTechMetadata.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAllAttributes</servlet-name>
  	<url-pattern>/ShowAllAttributes.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewMetadata</servlet-name>
  	<url-pattern>/ViewMetadata.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMetadata</servlet-name>
  	<url-pattern>/UpdateMetadata.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowProjectSettings</servlet-name>
  	<url-pattern>/ShowProjectSettings.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowDerivativeSettings</servlet-name>
  	<url-pattern>/ShowDerivativeSettings.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowAvailableSizes</servlet-name>
  	<url-pattern>/ShowAvailableSizes.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateImageSettings</servlet-name>
  	<url-pattern>/UpdateImageSettings.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcessImageSettings</servlet-name>
  	<url-pattern>/ProcessImageSettings.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/SearchServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExportVocab</servlet-name>
  	<url-pattern>/ExportVocab.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowExport</servlet-name>
  	<url-pattern>/ShowExport.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintMetadata</servlet-name>
  	<url-pattern>/PrintMetadata.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImageZoom</servlet-name>
  	<url-pattern>/ImageZoom.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetPermission</servlet-name>
  	<url-pattern>/GetPermission.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImageDownload</servlet-name>
  	<url-pattern>/download.html</url-pattern>
  </servlet-mapping>

  
</web-app>

